@font-face {
	font-family: 'entypo-plus';
	src:url('../fonts/entypo-plus.eot?-w0y2sr');
	src:url('../fonts/entypo-plus.eot?#iefix-w0y2sr') format('embedded-opentype'),
		url('../fonts/entypo-plus.woff?-w0y2sr') format('woff'),
		url('../fonts/entypo-plus.ttf?-w0y2sr') format('truetype'),
		url('../fonts/entypo-plus.svg?-w0y2sr#entypo-plus') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'entypo-plus';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-add-to-list:before {
	content: "\e600";
}

.icon-add-user:before {
	content: "\e601";
}

.icon-address:before {
	content: "\e602";
}

.icon-adjust:before {
	content: "\e603";
}

.icon-air:before {
	content: "\e604";
}

.icon-aircraft-landing:before {
	content: "\e605";
}

.icon-aircraft-take-off:before {
	content: "\e606";
}

.icon-aircraft:before {
	content: "\e607";
}

.icon-align-bottom:before {
	content: "\e608";
}

.icon-align-horizontal-middle:before {
	content: "\e609";
}

.icon-align-left:before {
	content: "\e60a";
}

.icon-align-right:before {
	content: "\e60b";
}

.icon-align-top:before {
	content: "\e60c";
}

.icon-align-vertical-middle:before {
	content: "\e60d";
}

.icon-archive:before {
	content: "\e60e";
}

.icon-area-graph:before {
	content: "\e60f";
}

.icon-arrow-bold-down:before {
	content: "\e610";
}

.icon-arrow-bold-left:before {
	content: "\e611";
}

.icon-arrow-bold-right:before {
	content: "\e612";
}

.icon-arrow-bold-up:before {
	content: "\e613";
}

.icon-arrow-down:before {
	content: "\e614";
}

.icon-arrow-left:before {
	content: "\e615";
}

.icon-arrow-long-down:before {
	content: "\e616";
}

.icon-arrow-long-left:before {
	content: "\e617";
}

.icon-arrow-long-right:before {
	content: "\e618";
}

.icon-arrow-long-up:before {
	content: "\e619";
}

.icon-arrow-right:before {
	content: "\e61a";
}

.icon-arrow-up:before {
	content: "\e61b";
}

.icon-arrow-with-circle-down:before {
	content: "\e61c";
}

.icon-arrow-with-circle-left:before {
	content: "\e61d";
}

.icon-arrow-with-circle-right:before {
	content: "\e61e";
}

.icon-arrow-with-circle-up:before {
	content: "\e61f";
}

.icon-attachment:before {
	content: "\e620";
}

.icon-awareness-ribbon:before {
	content: "\e621";
}

.icon-back-in-time:before {
	content: "\e622";
}

.icon-back:before {
	content: "\e623";
}

.icon-bar-graph:before {
	content: "\e624";
}

.icon-battery:before {
	content: "\e625";
}

.icon-beamed-note:before {
	content: "\e626";
}

.icon-bell:before {
	content: "\e627";
}

.icon-blackboard:before {
	content: "\e628";
}

.icon-block:before {
	content: "\e629";
}

.icon-book:before {
	content: "\e62a";
}

.icon-bookmark:before {
	content: "\e62b";
}

.icon-bookmarks:before {
	content: "\e62c";
}

.icon-bowl:before {
	content: "\e62d";
}

.icon-box:before {
	content: "\e62e";
}

.icon-briefcase:before {
	content: "\e62f";
}

.icon-browser:before {
	content: "\e630";
}

.icon-brush:before {
	content: "\e631";
}

.icon-bucket:before {
	content: "\e632";
}

.icon-cake:before {
	content: "\e633";
}

.icon-calculator:before {
	content: "\e634";
}

.icon-calendar:before {
	content: "\e635";
}

.icon-camera:before {
	content: "\e636";
}

.icon-ccw:before {
	content: "\e637";
}

.icon-chat:before {
	content: "\e638";
}

.icon-check:before {
	content: "\e639";
}

.icon-chevron-down:before {
	content: "\e63a";
}

.icon-chevron-left:before {
	content: "\e63b";
}

.icon-chevron-right:before {
	content: "\e63c";
}

.icon-chevron-small-down:before {
	content: "\e63d";
}

.icon-chevron-small-left:before {
	content: "\e63e";
}

.icon-chevron-small-right:before {
	content: "\e63f";
}

.icon-chevron-small-up:before {
	content: "\e640";
}

.icon-chevron-thin-down:before {
	content: "\e641";
}

.icon-chevron-thin-left:before {
	content: "\e642";
}

.icon-chevron-thin-right:before {
	content: "\e643";
}

.icon-chevron-thin-up:before {
	content: "\e644";
}

.icon-chevron-up:before {
	content: "\e645";
}

.icon-chevron-with-circle-down:before {
	content: "\e646";
}

.icon-chevron-with-circle-left:before {
	content: "\e647";
}

.icon-chevron-with-circle-right:before {
	content: "\e648";
}

.icon-chevron-with-circle-up:before {
	content: "\e649";
}

.icon-circle-with-cross:before {
	content: "\e64a";
}

.icon-circle-with-minus:before {
	content: "\e64b";
}

.icon-circle-with-plus:before {
	content: "\e64c";
}

.icon-circle:before {
	content: "\e64d";
}

.icon-circular-graph:before {
	content: "\e64e";
}

.icon-clapperboard:before {
	content: "\e64f";
}

.icon-classic-computer:before {
	content: "\e650";
}

.icon-clipboard:before {
	content: "\e651";
}

.icon-clock:before {
	content: "\e652";
}

.icon-cloud:before {
	content: "\e653";
}

.icon-code:before {
	content: "\e654";
}

.icon-cog:before {
	content: "\e655";
}

.icon-colours:before {
	content: "\e656";
}

.icon-compass:before {
	content: "\e657";
}

.icon-controller-fast-backward:before {
	content: "\e658";
}

.icon-controller-fast-forward:before {
	content: "\e659";
}

.icon-controller-jump-to-start:before {
	content: "\e65a";
}

.icon-controller-next:before {
	content: "\e65b";
}

.icon-controller-paus:before {
	content: "\e65c";
}

.icon-controller-play:before {
	content: "\e65d";
}

.icon-controller-record:before {
	content: "\e65e";
}

.icon-controller-stop:before {
	content: "\e65f";
}

.icon-controller-volume:before {
	content: "\e660";
}

.icon-copy:before {
	content: "\e661";
}

.icon-creative-commons-attribution:before {
	content: "\e662";
}

.icon-creative-commons-noderivs:before {
	content: "\e663";
}

.icon-creative-commons-noncommercial-eu:before {
	content: "\e664";
}

.icon-creative-commons-noncommercial-us:before {
	content: "\e665";
}

.icon-creative-commons-public-domain:before {
	content: "\e666";
}

.icon-creative-commons-remix:before {
	content: "\e667";
}

.icon-creative-commons-share:before {
	content: "\e668";
}

.icon-creative-commons-sharealike:before {
	content: "\e669";
}

.icon-creative-commons:before {
	content: "\e66a";
}

.icon-credit-card:before {
	content: "\e66b";
}

.icon-credit:before {
	content: "\e66c";
}

.icon-cross:before {
	content: "\e66d";
}

.icon-cup:before {
	content: "\e66e";
}

.icon-cw:before {
	content: "\e66f";
}

.icon-cycle:before {
	content: "\e670";
}

.icon-database:before {
	content: "\e671";
}

.icon-dial-pad:before {
	content: "\e672";
}

.icon-direction:before {
	content: "\e673";
}

.icon-document-landscape:before {
	content: "\e674";
}

.icon-document:before {
	content: "\e675";
}

.icon-documents:before {
	content: "\e676";
}

.icon-dot-single:before {
	content: "\e677";
}

.icon-dots-three-horizontal:before {
	content: "\e678";
}

.icon-dots-three-vertical:before {
	content: "\e679";
}

.icon-dots-two-horizontal:before {
	content: "\e67a";
}

.icon-dots-two-vertical:before {
	content: "\e67b";
}

.icon-download:before {
	content: "\e67c";
}

.icon-drink:before {
	content: "\e67d";
}

.icon-drive:before {
	content: "\e67e";
}

.icon-drop:before {
	content: "\e67f";
}

.icon-edit:before {
	content: "\e680";
}

.icon-email:before {
	content: "\e681";
}

.icon-emoji-flirt:before {
	content: "\e682";
}

.icon-emoji-happy:before {
	content: "\e683";
}

.icon-emoji-neutral:before {
	content: "\e684";
}

.icon-emoji-sad:before {
	content: "\e685";
}

.icon-erase:before {
	content: "\e686";
}

.icon-eraser:before {
	content: "\e687";
}

.icon-export:before {
	content: "\e688";
}

.icon-eye-with-line:before {
	content: "\e689";
}

.icon-eye:before {
	content: "\e68a";
}

.icon-feather:before {
	content: "\e68b";
}

.icon-flag:before {
	content: "\e68c";
}

.icon-flash:before {
	content: "\e68d";
}

.icon-flashlight:before {
	content: "\e68e";
}

.icon-flat-brush:before {
	content: "\e68f";
}

.icon-flow-branch:before {
	content: "\e690";
}

.icon-flow-cascade:before {
	content: "\e691";
}

.icon-flow-line:before {
	content: "\e692";
}

.icon-flow-parallel:before {
	content: "\e693";
}

.icon-flow-tree:before {
	content: "\e694";
}

.icon-flower:before {
	content: "\e695";
}

.icon-folder-images:before {
	content: "\e696";
}

.icon-folder-music:before {
	content: "\e697";
}

.icon-folder-video:before {
	content: "\e698";
}

.icon-folder:before {
	content: "\e699";
}

.icon-forward:before {
	content: "\e69a";
}

.icon-funnel:before {
	content: "\e69b";
}

.icon-game-controller:before {
	content: "\e69c";
}

.icon-gauge:before {
	content: "\e69d";
}

.icon-globe:before {
	content: "\e69e";
}

.icon-graduation-cap:before {
	content: "\e69f";
}

.icon-grid:before {
	content: "\e6a0";
}

.icon-hair-cross:before {
	content: "\e6a1";
}

.icon-hand:before {
	content: "\e6a2";
}

.icon-heart-outlined:before {
	content: "\e6a3";
}

.icon-heart:before {
	content: "\e6a4";
}

.icon-help-with-circle:before {
	content: "\e6a5";
}

.icon-help:before {
	content: "\e6a6";
}

.icon-home:before {
	content: "\e6a7";
}

.icon-hour-glass:before {
	content: "\e6a8";
}

.icon-image-inverted:before {
	content: "\e6a9";
}

.icon-image:before {
	content: "\e6aa";
}

.icon-images:before {
	content: "\e6ab";
}

.icon-inbox:before {
	content: "\e6ac";
}

.icon-infinity:before {
	content: "\e6ad";
}

.icon-info-with-circle:before {
	content: "\e6ae";
}

.icon-info:before {
	content: "\e6af";
}

.icon-install:before {
	content: "\e6b0";
}

.icon-key:before {
	content: "\e6b1";
}

.icon-keyboard:before {
	content: "\e6b2";
}

.icon-lab-flask:before {
	content: "\e6b3";
}

.icon-landline:before {
	content: "\e6b4";
}

.icon-language:before {
	content: "\e6b5";
}

.icon-laptop:before {
	content: "\e6b6";
}

.icon-layers:before {
	content: "\e6b7";
}

.icon-leaf:before {
	content: "\e6b8";
}

.icon-level-down:before {
	content: "\e6b9";
}

.icon-level-up:before {
	content: "\e6ba";
}

.icon-lifebuoy:before {
	content: "\e6bb";
}

.icon-light-bulb:before {
	content: "\e6bc";
}

.icon-light-down:before {
	content: "\e6bd";
}

.icon-light-up:before {
	content: "\e6be";
}

.icon-line-graph:before {
	content: "\e6bf";
}

.icon-link:before {
	content: "\e6c0";
}

.icon-list:before {
	content: "\e6c1";
}

.icon-location-pin:before {
	content: "\e6c2";
}

.icon-location:before {
	content: "\e6c3";
}

.icon-lock-open:before {
	content: "\e6c4";
}

.icon-lock:before {
	content: "\e6c5";
}

.icon-log-out:before {
	content: "\e6c6";
}

.icon-login:before {
	content: "\e6c7";
}

.icon-loop:before {
	content: "\e6c8";
}

.icon-magnet:before {
	content: "\e6c9";
}

.icon-magnifying-glass:before {
	content: "\e6ca";
}

.icon-mail:before {
	content: "\e6cb";
}

.icon-man:before {
	content: "\e6cc";
}

.icon-map:before {
	content: "\e6cd";
}

.icon-mask:before {
	content: "\e6ce";
}

.icon-medal:before {
	content: "\e6cf";
}

.icon-megaphone:before {
	content: "\e6d0";
}

.icon-menu:before {
	content: "\e6d1";
}

.icon-merge:before {
	content: "\e6d2";
}

.icon-message:before {
	content: "\e6d3";
}

.icon-mic:before {
	content: "\e6d4";
}

.icon-minus:before {
	content: "\e6d5";
}

.icon-mobile:before {
	content: "\e6d6";
}

.icon-modern-mic:before {
	content: "\e6d7";
}

.icon-moon:before {
	content: "\e6d8";
}

.icon-mouse:before {
	content: "\e6d9";
}

.icon-music:before {
	content: "\e6da";
}

.icon-network:before {
	content: "\e6db";
}

.icon-new-message:before {
	content: "\e6dc";
}

.icon-new:before {
	content: "\e6dd";
}

.icon-news:before {
	content: "\e6de";
}

.icon-note:before {
	content: "\e6df";
}

.icon-notification:before {
	content: "\e6e0";
}

.icon-old-mobile:before {
	content: "\e6e1";
}

.icon-old-phone:before {
	content: "\e6e2";
}

.icon-open-book:before {
	content: "\e6e3";
}

.icon-palette:before {
	content: "\e6e4";
}

.icon-paper-plane:before {
	content: "\e6e5";
}

.icon-pencil:before {
	content: "\e6e6";
}

.icon-phone:before {
	content: "\e6e7";
}

.icon-pie-chart:before {
	content: "\e6e8";
}

.icon-pin:before {
	content: "\e6e9";
}

.icon-plus:before {
	content: "\e6ea";
}

.icon-popup:before {
	content: "\e6eb";
}

.icon-power-plug:before {
	content: "\e6ec";
}

.icon-price-ribbon:before {
	content: "\e6ed";
}

.icon-price-tag:before {
	content: "\e6ee";
}

.icon-print:before {
	content: "\e6ef";
}

.icon-progress-empty:before {
	content: "\e6f0";
}

.icon-progress-full:before {
	content: "\e6f1";
}

.icon-progress-one:before {
	content: "\e6f2";
}

.icon-progress-two:before {
	content: "\e6f3";
}

.icon-publish:before {
	content: "\e6f4";
}

.icon-quote:before {
	content: "\e6f5";
}

.icon-radio:before {
	content: "\e6f6";
}

.icon-remove-user:before {
	content: "\e6f7";
}

.icon-reply-all:before {
	content: "\e6f8";
}

.icon-reply:before {
	content: "\e6f9";
}

.icon-resize-100:before {
	content: "\e6fa";
}

.icon-resize-full-screen:before {
	content: "\e6fb";
}

.icon-retweet:before {
	content: "\e6fc";
}

.icon-rocket:before {
	content: "\e6fd";
}

.icon-round-brush:before {
	content: "\e6fe";
}

.icon-rss:before {
	content: "\e6ff";
}

.icon-ruler:before {
	content: "\e700";
}

.icon-save:before {
	content: "\e701";
}

.icon-scissors:before {
	content: "\e702";
}

.icon-select-arrows:before {
	content: "\e703";
}

.icon-share-alternitive:before {
	content: "\e704";
}

.icon-share:before {
	content: "\e705";
}

.icon-shareable:before {
	content: "\e706";
}

.icon-shield:before {
	content: "\e707";
}

.icon-shop:before {
	content: "\e708";
}

.icon-shopping-bag:before {
	content: "\e709";
}

.icon-shopping-basket:before {
	content: "\e70a";
}

.icon-shopping-cart:before {
	content: "\e70b";
}

.icon-shuffle:before {
	content: "\e70c";
}

.icon-signal:before {
	content: "\e70d";
}

.icon-sound-mix:before {
	content: "\e70e";
}

.icon-sound-mute:before {
	content: "\e70f";
}

.icon-sound:before {
	content: "\e710";
}

.icon-sports-club:before {
	content: "\e711";
}

.icon-spreadsheet:before {
	content: "\e712";
}

.icon-squared-cross:before {
	content: "\e713";
}

.icon-squared-minus:before {
	content: "\e714";
}

.icon-squared-plus:before {
	content: "\e715";
}

.icon-star-outlined:before {
	content: "\e716";
}

.icon-star:before {
	content: "\e717";
}

.icon-stopwatch:before {
	content: "\e718";
}

.icon-suitcase:before {
	content: "\e719";
}

.icon-swap:before {
	content: "\e71a";
}

.icon-sweden:before {
	content: "\e71b";
}

.icon-switch:before {
	content: "\e71c";
}

.icon-tablet:before {
	content: "\e71d";
}

.icon-tag:before {
	content: "\e71e";
}

.icon-text-document-inverted:before {
	content: "\e71f";
}

.icon-text-document:before {
	content: "\e720";
}

.icon-text:before {
	content: "\e721";
}

.icon-thermometer:before {
	content: "\e722";
}

.icon-thumbs-down:before {
	content: "\e723";
}

.icon-thumbs-up:before {
	content: "\e724";
}

.icon-thunder-cloud:before {
	content: "\e725";
}

.icon-ticket:before {
	content: "\e726";
}

.icon-time-slot:before {
	content: "\e727";
}

.icon-tools:before {
	content: "\e728";
}

.icon-traffic-cone:before {
	content: "\e729";
}

.icon-trash:before {
	content: "\e72a";
}

.icon-tree:before {
	content: "\e72b";
}

.icon-triangle-down:before {
	content: "\e72c";
}

.icon-triangle-left:before {
	content: "\e72d";
}

.icon-triangle-right:before {
	content: "\e72e";
}

.icon-triangle-up:before {
	content: "\e72f";
}

.icon-trophy:before {
	content: "\e730";
}

.icon-tv:before {
	content: "\e731";
}

.icon-typing:before {
	content: "\e732";
}

.icon-uninstall:before {
	content: "\e733";
}

.icon-unread:before {
	content: "\e734";
}

.icon-untag:before {
	content: "\e735";
}

.icon-upload-to-cloud:before {
	content: "\e736";
}

.icon-upload:before {
	content: "\e737";
}

.icon-user:before {
	content: "\e738";
}

.icon-users:before {
	content: "\e739";
}

.icon-v-card:before {
	content: "\e73a";
}

.icon-video:before {
	content: "\e73b";
}

.icon-vinyl:before {
	content: "\e73c";
}

.icon-voicemail:before {
	content: "\e73d";
}

.icon-wallet:before {
	content: "\e73e";
}

.icon-warning:before {
	content: "\e73f";
}

.icon-water:before {
	content: "\e740";
}

.icon-px-with-circle:before {
	content: "\e741";
}

.icon-px:before {
	content: "\e742";
}

.icon-basecamp:before {
	content: "\e743";
}

.icon-behance:before {
	content: "\e744";
}

.icon-creative-cloud:before {
	content: "\e745";
}

.icon-dribbble-with-circle:before {
	content: "\e746";
}

.icon-dribbble:before {
	content: "\e747";
}

.icon-dropbox:before {
	content: "\e748";
}

.icon-evernote:before {
	content: "\e749";
}

.icon-facebook-with-circle:before {
	content: "\e74a";
}

.icon-facebook:before {
	content: "\e74b";
}

.icon-flattr:before {
	content: "\e74c";
}

.icon-flickr-with-circle:before {
	content: "\e74d";
}

.icon-flickr:before {
	content: "\e74e";
}

.icon-foursquare:before {
	content: "\e74f";
}

.icon-github-with-circle:before {
	content: "\e750";
}

.icon-github:before {
	content: "\e751";
}

.icon-google-drive:before {
	content: "\e752";
}

.icon-google-hangouts:before {
	content: "\e753";
}

.icon-google-with-circle:before {
	content: "\e754";
}

.icon-google:before {
	content: "\e755";
}

.icon-grooveshark:before {
	content: "\e756";
}

.icon-icloud:before {
	content: "\e757";
}

.icon-instagram-with-circle:before {
	content: "\e758";
}

.icon-instagram:before {
	content: "\e759";
}

.icon-lastfm-with-circle:before {
	content: "\e75a";
}

.icon-lastfm:before {
	content: "\e75b";
}

.icon-linkedin-with-circle:before {
	content: "\e75c";
}

.icon-linkedin:before {
	content: "\e75d";
}

.icon-medium-with-circle:before {
	content: "\e75e";
}

.icon-medium:before {
	content: "\e75f";
}

.icon-mixi:before {
	content: "\e760";
}

.icon-onedrive:before {
	content: "\e761";
}

.icon-paypal:before {
	content: "\e762";
}

.icon-picasa:before {
	content: "\e763";
}

.icon-pinterest-with-circle:before {
	content: "\e764";
}

.icon-pinterest:before {
	content: "\e765";
}

.icon-qq-with-circle:before {
	content: "\e766";
}

.icon-qq:before {
	content: "\e767";
}

.icon-raft-with-circle:before {
	content: "\e768";
}

.icon-raft:before {
	content: "\e769";
}

.icon-rainbow:before {
	content: "\e76a";
}

.icon-rdio-with-circle:before {
	content: "\e76b";
}

.icon-rdio:before {
	content: "\e76c";
}

.icon-renren:before {
	content: "\e76d";
}

.icon-scribd:before {
	content: "\e76e";
}

.icon-sina-weibo:before {
	content: "\e76f";
}

.icon-skype-with-circle:before {
	content: "\e770";
}

.icon-skype:before {
	content: "\e771";
}

.icon-slideshare:before {
	content: "\e772";
}

.icon-smashing:before {
	content: "\e773";
}

.icon-soundcloud:before {
	content: "\e774";
}

.icon-spotify-with-circle:before {
	content: "\e775";
}

.icon-spotify:before {
	content: "\e776";
}

.icon-stumbleupon-with-circle:before {
	content: "\e777";
}

.icon-stumbleupon:before {
	content: "\e778";
}

.icon-swarm:before {
	content: "\e779";
}

.icon-tripadvisor:before {
	content: "\e77a";
}

.icon-tumblr-with-circle:before {
	content: "\e77b";
}

.icon-tumblr:before {
	content: "\e77c";
}

.icon-twitter-with-circle:before {
	content: "\e77d";
}

.icon-twitter:before {
	content: "\e77e";
}

.icon-vimeo-with-circle:before {
	content: "\e77f";
}

.icon-vimeo:before {
	content: "\e780";
}

.icon-vine-with-circle:before {
	content: "\e781";
}

.icon-vine:before {
	content: "\e782";
}

.icon-vk-alternitive:before {
	content: "\e783";
}

.icon-vk-with-circle:before {
	content: "\e784";
}

.icon-vk:before {
	content: "\e785";
}

.icon-xing-with-circle:before {
	content: "\e786";
}

.icon-xing:before {
	content: "\e787";
}

.icon-yelp:before {
	content: "\e788";
}

.icon-youko-with-circle:before {
	content: "\e789";
}

.icon-youko:before {
	content: "\e78a";
}

.icon-youtube-with-circle:before {
	content: "\e78b";
}

.icon-youtube:before {
	content: "\e78c";
}

